<div class="custom-container">
    <div class="row">
        <div class="col s12">
            <h4 class="heading">
                <u>ABOUT US</u>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="para">
                <p>
                    Welcome to DGS - digital dentistry, where you'll find high-quality dental care for the whole family. From your dentist, Dr Gert Sauer, to your dental assistant and front office team, everyone here is comitted to exceeding
                    your expectations. You'll feel right at home in our brand new Brooklyn family dentist office thanks to our focus on your comfort, health and happiness.
                </p>
                <p class="sub-sub-heading">
                    <b>Dentistry for the whole family.</b>
                </p>
                <p>
                    All the care your family needs - under one roof. From your infant's first dental exam to teeth whitening before your wedding day. You'll be glad DGS is where you chose to call home for your whole family's dental health needs.
                    Your treatment is tailored to you, nothing is cookie-cutter or one-size-fits-all. Your dentist will work closely with you to create the treatment plan that addresses your concerns and prepares you for a lifetime of smiles. A little nervous about your visit? No problem!
                    We take extra pride in treating patients who are "dental-phobic" or who haven't seen the dentist in years. There's no judgement, just a friendly approach to family dental care you won't find anywhere else.
                </p>
                <p class="sub-sub-heading">
                    <b>Come see us if:</b>
                </p>
                <ul>
                    <li>Your'e looking for a dentis who can care for your whole family.</li>
                    <li>You don't like the idea of shuttling your family around town to different dentists.</li>
                    <li>You want to feel comfortable and welcomed by a friendly team that cares about you.</li>
                    <li>You want to experience the best family dentist in Pretoria.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
    .heading {
        font-family: 'Kanit', sans-serif;
        color: #13476B;
    }

    .sub-heading {
        font-family: 'Kanit', sans-serif;
        color: #13476B;
        margin-top: 0;
    }

    .sub-sub-heading {
        color: #13476B;
    }

    .para {
        font-size: 14px;
        font-family: 'Kanit', sans-serif;
        font-weight: 300;
    }

    .img {
        height: 70px;
    }

    ul {
        list-style-position: inside;
    }

    li {
        list-style-type: circle !important;
    }
</style>
