<div class="custom-container">
    <div class="row">
        <div class="col">
            <h4 class="heading">
                <u>SERVICES</u>
            </h4>
        </div>
    </div>
    @*GENERAL DENTISTRY*@
    <div class="row">
        <div class="col s12">
            <div class="center-align">
                <img class="img" src="~/Content/Images/general_dentistry.svg" />
                <h5 class="sub-heading">General Dentistry</h5>
            </div>
            <div class="para">
                <p>
                    A healthy smile starts at home, but you don't have to go at it alone. At DGS, our general dental services are meant to support your daily hygiene habits.
                    Our approach to general dentistry starts with patient education.
                    We'll provide you with as much information as possible and answer even your trickiest questions. You'll have the tools and the knowledge to develop good at home habits and feel confident making the best choices for your health.
                    During your twice-a-year checkups, we'll be on the lookout for signs of decay and other common dental problems. We've got you covered with all the routine services you need to prevent and resolve tooth decay and maintain healthy, beautiful teeth all year long.
                </p>
                <p class="sub-sub-heading">
                    <b>We provide the following General Dentistry services and procedures:</b>
                </p>
                <ul>
                    <li>Dental Exams</li>
                    <li>Cleanings</li>
                    <li>Fillings</li>
                    <li>Bridges</li>
                    <li>Crowns</li>
                    <li>Root Canal Treatment</li>
                </ul>
            </div>
        </div>
    </div>
    @*COSMETIC DENTISTRY*@
    <div class="row">
        <div class="col s12">
            <div class="center-align">
                <img class="img" src="~/Content/Images/cosmetic-dentistry.svg" />
                <h5 class="sub-heading">Cosmetic Dentistry</h5>
            </div>
            <div class="para">
                <p>
                    Living with a smile you don't love can make you feel stressed and self-conscious. Cosmetic imperfections can also lead to problems for your overall oral health and wellness.
                    Let's take care of that.
                    You deserve to smile confidently and feel great about yourself.
                    Thanks to our modern and straightforward approach to cosmetic dentistry, a beautiful smile is within reach.
                </p>
                <p class="sub-sub-heading">
                    <b>We provide the following Cosmetic Dentistry services and procedures:</b>
                </p>
                <ul>
                    <li>Teeth Whitening</li>
                    <li>Veneers</li>
                    <li>Crowns</li>
                    <li>Orthodontics</li>
                    <li>Full Mouth Rehabilitation</li>
                </ul>
            </div>
        </div>
    </div>
    @*SURGICAL DENTISTRY*@
    <div class="row">
        <div class="col s12">
            <div class="center-align">
                <img class="img" src="~/Content/Images/surgical_dentistry.svg" />
                <h5 class="sub-heading">Surgical Dentistry</h5>
            </div>
            <div class="para">
                <p>
                    When dental surgery is required, you'll feel better when your'e treated by a dentist and team you already know and trust.
                    At DGS, attention to excellence and world class results aren't our only priorities. We know surgical procedures can cause anxiety but
                    thanks to IV Sedation, enhanced safety procedures and our friendly team, you'll feel completely confortable before, during and after your procedure.
                </p>
                <p class="sub-sub-heading">
                    <b>We provide the following Surgical Dentistry services and procedures:</b>
                </p>
                <ul>
                    <li>Implants</li>
                    <li>All-On-4-Implants</li>
                    <li>Wisdom Teeth</li>
                    <li>Extractions</li>
                    <li>Root Canals</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<style>
    .heading {
        font-family: 'Kanit', sans-serif;
        color: #13476B;
    }

    .sub-heading {
        font-family: 'Kanit', sans-serif;
        color: #13476B;
        margin-top: 0;
    }

    .sub-sub-heading {
        color: #13476B;
    }

    .para {
        font-size: 14px;
        font-family: 'Kanit', sans-serif;
        font-weight: 300;
    }

    .img {
        height: 70px;
    }

    ul {
        list-style-position: inside;
    }

    li {
        list-style-type: circle !important;
    }
</style>
