<div class="row">
    <h4>Meet the team</h4>
    <div class="col s6 m3">
        <div class="card">
            <div class="card-image" style="padding: 15px;">
                <img class="circle activator responsive-img" src="~/Content/Images/user-default.png"/>
            </div>
            <div class="card-content">
                <span class="card-title activator">Alicia Botes<i class="material-icons right">more_vert</i></span>
                <p>Here is a very short two liner introduction for Alicia Botes.</p>
            </div>
            <div class="card-reveal">
                <span class="card-title">Alicia Botes<i class="material-icons right">close</i></span>
                <p>Here is more detail regarding the employee.</p>
            </div>
        </div>
    </div>
</div>
